<!doctype html>
<html lang='en'>
        <head>
                <title>Squirrel Tracker</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        </head>
        <body style="background: url(http://img-arch.pconline.com.cn/images/upload/upc/tx/photoblog/1411/13/c1/40874011_1415846596883.jpg) ; background-size:100% 100% ; background-attachment: fixed">
	
<style>
      body{
	padding-top: 500px;
        padding-left: 10px; padding-right: 10px;
      }

</style>
                <p>
		<div align='center'>
		</div>
		<br>
		<br>
		<h1 style=font-size:88px class='text-center'><font color="white"><strong>Welcome to Squirrel Tracker!</strong></h1>
		<div align='center'>
			<br>
			<a href="sightings/" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Squirrel Sightings</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="map/" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Sightings Map</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="sightings/stats" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Sightings Statistics</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="sightings/add" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Add New Sighting</strong></a>
		</div>
		</p>
		<br>
	
	</body>
</html>
