<!DOCTYPE html>
<html>
	<head>
		<title>Stas For Squirrel Situation</title>
	</head>
	<body>
		<h1>Squirrel Situation: Total<span style="color:blue"> {{context.Total}}</span></h1>
		<h2>Basic Information of Squirrels</h2>
		<p style="font-size:20px"><b>Distribution of Age</b> </p>
		<table border="1">
			<tr>
				<th>Age</th>
				<th>Number</th>
				<th>Percentage</th>
			</tr>
			<tr>
				<td>Adult</td>
				<td>{{context.Adult_Number}}</td>
				<td>{{context.Adult_Percent}}</td>
			</tr>
			<tr>
                                <td>Juvenile</td>
                                <td>{{context.Juvenile_Number}}</td>
                                <td>{{context.Juvenile_Percent}}</td>
                        </tr>
			<tr>
                                <td>Unknown</td>
                                <td>{{context.Number_Unknown}}</td>
                                <td>{{context.Unknown_Percent}}</td>
                        </tr>
		</table>
		<p style="font-size:20px"><b>Distribution of Time</b> </p>
                <table border="1">
                        <tr>
				<th>Time</th>
                                <th>Number</th>
                                <th>Percentage</th>
                        </tr>
                        <tr>
                                <td>Morning</td>
                                <td>{{context.Morning}}</td>
                                <td>{{context.Morning_Percent}}</td>
                        </tr>
                        <tr>
                                <td>Night</td>
                                <td>{{context.Night}}</td>
                                <td>{{context.Night_Percent}}</td>
                        </tr>
                </table>
		<p style="font-size:20px"><b>Distribution of Color</b> </p>
                <table border="1">
                        <tr>
                                <th>Color</th>
                                <th>Number</th>
                                <th>Percentage</th>
                        </tr>
                        <tr>
                                <td>Gray</td>
                                <td>{{context.Gray_Number}}</td>
                                <td>{{context.Gray_Percent}}</td>
                        </tr>
                        <tr>
                                <td>Cinnamon</td>
                                <td>{{context.Cinnamon_Number}}</td>
                                <td>{{context.Cinnamon_Percent}}</td>
                        </tr>
			<tr>
                                <td>Black</td>
                                <td>{{context.Black_Number}}</td>
                                <td>{{context.Black_Percent}}</td>
                        </tr>
                        <tr>
                                <td>Unknown</td>
				<td>{{context.Number_Unknown2}}</td>
                                <td>{{context.Unknown2_Percent}}</td>
                        </tr>
                </table>
		<h2>Behavior Information of Squirrels</h2>
                <p style="font-size:20px"><b>Distribution of Behavior</b> </p>
                <table border="1">
                        <tr>
				<th>Yes/No</th>
                                <th>Running</th>
                                <th>Chasing</th>
				<th>Climbing</th>
                                <th>Eating</th>
				<th>Foraging</th>
                                <th>Approaches</th>
                                <th>Indifferent</th>
                                <th>Runs_from</th>
                        </tr>
                        <tr>
                                <td>Yes</td>
                                <td>{{context.Running_Number}}</td>
                                <td>{{context.Chasing_Number}}</td>
				<td>{{context.Climbing_Number}}</td>
				<td>{{context.Eating_Number}}</td>
				<td>{{context.Foraging_Number}}</td>
				<td>{{context.Approaches_Number}}</td>
				<td>{{context.Indifferent_Number}}</td>
				<td>{{context.Runs_from_Number}}</td>
                        </tr>
                        <tr>
                                <td>No</td>
                                <td>{{context.Running_not_Number}}</td>
                                <td>{{context.Chasing_not_Number}}</td>
                                <td>{{context.Climbing_not_Number}}</td>
                                <td>{{context.Eating_not_Number}}</td>
                                <td>{{context.Foraging_not_Number}}</td>
                                <td>{{context.Approaches_not_Number}}</td>
                                <td>{{context.Indifferent_not_Number}}</td>
                                <td>{{context.Runs_from_not_Number}}</td>
                        </tr>
                </table>
	</body>
</html>
